<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter your email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" id="password" required>
    <button>Submit</button>
</form>

<p>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</p>
